@import "default.css";
@import "tables.css";

/**
 * Inheritance diagrams with scroll bars to make them more lisible
 */
p.graphviz {
    overflow: auto
}

 * /**
 * control appearance with scroll bars to make them more lisible
 * "auto" still shows the bars all the time
 */
div.appearance-control-appearance {
    overflow: auto
}

/**
 * fix intro, search etc to the top, assumes no logo,
 * need to adjust the document wrapper margin and use 
 * z-index on div.related and div.floatcenter (used
 * by the image on e.g. introduction page)
 */
div.related{
    position: fixed;
    z-index: 10;
}

/*div.document {
    position: inherit;
}
*/

div.sphinxsidebar {
    margin-top: 60px;
    overflow: hidden;
}
div.floatcenter {
    z-index: 1;
}

div.bodywrapper {
    margin-top: 60px;
}

 * /**
 * Spacing fixes
 */

div.body p, div.body dd, div.body li {
  line-height: 125%;
}

ul.simple { 
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

/* spacing around blockquoted fields in parameters/attributes/returns */
td.field-body > blockquote {
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}

/* spacing around example code */
div.highlight > pre {
    padding: 2px 5px 2px 5px;
}

/* spacing in see also definition lists */
dl.last > dd {
    margin-top: 1px;
    margin-bottom: 5px;
    margin-left: 30px;
}

/**
 * Hide dummy toctrees 
 */

ul { 
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
ul li { 
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
ul li a.reference { 
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/**
 * Make high-level subsections easier to distinguish from top-level ones
 */
div.body h3 { 
  background-color: transparent;
}

div.body h4 { 
  border: none;
  background-color: transparent;
}

/** 
 * Scipy colors
 */

body { 
  background-color: rgb(100,135,220);
}

div.document { 
  background-color: rgb(230,230,230);
}

div.sphinxsidebar {
  background-color: rgb(230,230,230);
}

div.related {
    font-size: 1em;
    
}

div.related ul {
    background-image: url(navigation.png);
    height: 2em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

div.related ul li {
    margin: 0;
    padding: 0;
    height: 2em;
    float: left;
}

div.related ul li.right {
    float: right;
    margin-right: 5px;
}

div.related ul li a {
    margin: 0;
    padding: 0 5px 0 5px;
    line-height: 1.75em;
    color: #EE9816;
}

div.related ul li a:hover {
    color: #3CA8E7;
}

div.sphinxsidebar h3 {
  color: rgb(0,102,204);
}

div.sphinxsidebar h3 a {
  color: rgb(0,102,204);
}

div.sphinxsidebar h4 {
  color: rgb(0,82,194);
}

div.sphinxsidebar p {
  color: black;
}

div.sphinxsidebar a {
  color: #355f7c;
}

div.sphinxsidebar ul.want-points {
  list-style: disc;
}

.field-list th {
  color: rgb(0,102,204);
}

.floatleft {
	position: relative;
	float:left;
	text-align:center;
}
	
.floatcenter {
	position:relative;
      float:none;
	text-align:center;
}

.floatright {
	position: relative;
	float:right;
	text-align:center;
}

/** 
 * Extra admonitions 
 */

div.return {
  color: rgb(0,0,255);
}

div.tip {
  background-color: #ffffe4;
  border: 1px solid #ee6;
}

div.plot-output { 
  clear-after: both;
}

div.plot-output .figure { 
  float: center;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

div.plot-output .caption { 
  margin-top: 2;
  padding-top: 0;
}

div.plot-output p.admonition-title {
  display: none;
}

div.plot-output:after { 
  content: ""; 
  display: block; 
  height: 0; 
  clear: both; 
}

.doctodo {
    background-color: #ccccff;
    padding: 10px;
    margin: 0 -20px 0 -20px;
    border-bottom: 1px solid #cc99ff;
}

.docwarning {
    background-color: #ffe4e4;
    padding: 10px;
    margin: 0 -20px 0 -20px;
    border-bottom: 1px solid #f66;
}

.doccaution {
    background-color: #ff9900;
    padding: 10px;
    margin: 0 -20px 0 -20px;
    border-bottom: 1px solid #f66;
}

.docimportant {
    background-color: #ffcc33;
    padding: 10px;
    margin: 0 -20px 0 -20px;
    border-bottom: 1px solid #f66;
}

.doctip {
    background-color: #ccff66;
    padding: 10px;
    margin: 0 -20px 0 -20px;
    border-bottom: 1px solid #f66;
}


div.admonition p {
    display: inline;
}

div.admonition {
    background-color: #98F5FF;
    border: 1px solid #00B2EE;
    text-align: justify;
    background-image: url('todo.png');
    background-repeat: no-repeat;
    background-position: 5px 5px;  
    padding-left: 33px;
}

.admonition tt {
    background: #98F5FF;
}

div.seealso {
    background-color: #ffc;
    border: 1px solid #ff6;
    text-align: justify;
    background-image: url('seealso.png');
    background-repeat: no-repeat;
    background-position: 5px 5px;  
    padding-left: 33px;
}

.seealso tt {
    background: #ffc;
}

div.warning {
    background-color: #ffe4e4;
    border: 1px solid #f66;
    text-align: justify;
    background-image: url('warning.png');
    background-repeat: no-repeat;
    background-position: 5px 5px;  
    padding-left: 33px;
}

.warning tt {
    background: #ffe4e4;
}

div.todo {
    background-color: #ccccff;
    border: 1px solid #cc99ff;
    text-align: justify;
    background-image: url('todo.png');
    background-repeat: no-repeat;
    background-position: 5px 5px;  
    padding-left: 33px;
}

.todo tt {
    background: #ccccff;
}

div.caution {
    background-color: #ccffff;
    border: 1px solid #99ccff;
    text-align: justify;
}

.caution tt {
    background: #ccccff;
}

div.important {
    background-color: #ffcc33;
    border: 1px solid #ff9900;
    text-align: justify;
}

.important tt {
    background: #ffcc33;
}

div.tip {
    background-color: #ccff33;
    border: 1px solid #33cc33;
    text-align: justify;
}

.tip tt {
    background: #ccff33;
}

div.note {
    background-color: #eee;
    border: 1px solid #ccc;
    text-align: justify;
    background-image: url('info.png');
    background-repeat: no-repeat;
    background-position: 5px 5px;  
    padding-left: 33px;
}

.note tt {
    background: #eee;
}

 p.admonition-title {
   margin: 10px 10px 5px 0px;
   font-weight: bold;
}

 .gallery_class table { float: left;
                  margin: 0 5px 20px 0; }
 .gallery_class table { border-collapse: collapse; }
 .gallery_class table td { padding: 0; }
 .gallery_class table caption { font-size: 80%; }
 .gallery .caption { height: 4em; vertical-align: top; }
 .gallery table { width: 225px; }


/**
 * Styling for field lists
 */

table.field-list th {
  border-left: 1px solid #aaa !important;
  padding-left: 5px;
}

table.field-list { 
  border-collapse: separate;
  border-spacing: 10px;
}

/** 
 * Styling for footnotes
 */

table.footnote td, table.footnote th {
  border: none;
}

pre {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', 'Trebuchet MS', monospace;
    font-size: 0.95em;
    letter-spacing: 0.015em;
    padding: 0.5em;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
}

cite, code, tt {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', 'Trebuchet MS', monospace;
    font-size: 0.95em;
    letter-spacing: 0.01em;
}

a.headerlink {
    color: #c60f0f;
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;
    visibility: hidden;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
    visibility: visible;
}

a {
    color: #CA7900;
    text-decoration: none;
}

a:hover {
    color: #2491CF;
}

a.headerlink:hover {
    background-color: #c60f0f;
    color: white;
}

a tt {
    background-color: transparent;
    font-weight: bold;
    border: 0;
    color: #CA7900;
}

a tt:hover {
    color: #2491CF;
}

.panel {
position: fixed;
z-index: 1;
top: 60px;
right: 0;
display: none;
background: #000000;
border:1px solid #111111;
font-family: 'Calibri', 'Deja Vu Sans', 'Bitstream Vera Sans', 'Trebuchet MS', monospace;
-moz-border-radius-topleft: 20px;
-webkit-border-top-left-radius: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
width: 200px;
height: auto;
padding: 20px 30px 30px 30px;
filter: alpha(opacity=85);
opacity: .85;
}

.panel p{
margin: 0 0 15px 0;
padding: 0;
color: #cccccc;
}

.panel a, .panel a:visited{
margin: 0;
padding: 0;
z-index: 1;
color: #CA7900;
text-decoration: none;
border-bottom: 1px solid #CA7900;
}

.panel a:hover, .panel a:visited:hover{
margin: 0;
padding: 0;
color: #2491CF;
text-decoration: none;
border-bottom: 1px solid #2491CF;
}

a.trigger{
position: fixed;
z-index: 2;
text-decoration: none;
top: 60px; right: 0;
font-size: 20px;
letter-spacing:-1px;
font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', 'Trebuchet MS', monospace;
color:#fff;
padding: 20px 40px 20px 15px;
font-weight: 700;
background:#333333 url(plus2.png) 85% 55% no-repeat;
border:1px solid #444444;
-moz-border-radius-topleft: 20px;
-webkit-border-top-left-radius: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-bottomright: 0px;
-webkit-border-bottom-right-radius: 0px;
display: block;
}

a.trigger:hover{
position: fixed;
text-decoration: none;
top: 80px; right: 0;
font-size: 20px;
letter-spacing:-1px;
font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', 'Trebuchet MS', monospace;
color:#fff;
padding: 20px 40px 20px 20px;
font-weight: 700;
background:#222222 url(plus2.png) 85% 55% no-repeat;
border:1px solid #444444;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;
display: block;
}

a.active.trigger {
background:#222222 url(minus2.png) 85% 55% no-repeat;
}

.columns{
clear: both;
width: 330px;
padding: 0 0 20px 0;
line-height: 22px;
}

.colleft{
float: left;
width: 130px;
line-height: 22px;
}

.colright{
float: right;
width: 130px;
line-height: 22px;
}
